a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(68, 156, 144);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*THIS IS THE HEADER SECTION */

.header{
    text-decoration: none;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: rgb(52, 54, 54)

}
hr{
    background-color: rgb(52, 54, 54);
    color: rgb(52, 54, 54);
    border: 1px solid rgb(52, 54, 54);

}
.header ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    outline: none;
    list-style-type: none;
}

.navbarelements{
    margin: 0 10vh;
    color: white;
    text-decoration: none;
}

/*THIS IS THE MAIN CONTENT SECTION*/

.MainContent{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .middle hr{
        width: 90%;
    }

.calendarsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vw;
    width: 50vw;
    box-sizing: border-box;
    padding: 0rem 10rem 2rem;
    background-color: tan;
    border-radius: 1%;
    -webkit-box-shadow: 17px -8px 25px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 17px -8px 25px -6px rgba(0,0,0,0.55);
    box-shadow: 17px -8px 25px -6px rgba(0,0,0,0.55);
}
.monthtitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45vw;

}

        .monthtitle h2{
            width: 20%;
        }

        .monthtitle ul{
            align-self: flex-end;
            width: 80%;
            height: 75%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
        .monthtitle li{
            width: 33%;
        }
            #dateicon{
                color: rgba(0, 0, 0, 0%);
                border-bottom: 1px solid red;
                width: 10px;
                margin-right: 10px;
            }
            .monthtitle i{
                margin-right: 10px;
            }
            .monthtitle .fa-calendarweek{
                color: blue;
            }


.weekdatesection{
    display: flex;
    flex-direction: row;
    width: 45vw;
    height: 100%;
    justify-content: space-around;
    border-left: 1px solid gray;

}


.datecolumns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 14.28%;
    height: 100%;

}

.dayoftheweek{
    height: 10%;

}

.individualdates{
    align-items: center;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.dates, .deaddate{
    display: flex;
    border-bottom: 1px solid gray;
    width: 250%;
    padding: 80% 0;
}

    .dates::after{
        content: "";
        display: inline;
        background-color:gray;
        height: 100%;
        width: 1px;
        margin-left: 60%;
    }


    .dates:hover{
        display: flex;
        border-bottom: 2px solid green;
        color: green;
        width: 250%;
        padding: 80% 0;
        transition-duration: 0.75s;

    }
            .fa-calender.week{
                background-color: white;
            }

.deaddate{
    opacity: 0%;
}



#numberdate{
    align-self: center;
    font-weight: 2rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}