a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(68, 156, 144);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*THIS IS THE HEADER SECTION */



/*THIS IS THE MAIN CONTENT SECTION*/

