.right{
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-right: 4vh;
    border-radius: 3%;
    background-color: rgb(182, 178, 237);
    -webkit-box-shadow: 7px -5px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px -5px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 7px -5px 5px -4px rgba(0,0,0,0.75);

}
    .right header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
        .right h2{
            margin-right: 10px;
        }

    .right p{
        width: 80%;
        line-height: 2rem;
        font-family: 'Montserrat', sans-serif;
        overflow: scroll;
    }
