.MainContent{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .middle hr{
        width: 90%;
    }

.calendarsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vw;
    width: 50vw;
    box-sizing: border-box;
    padding: 0rem 10rem 2rem;
    background-color: tan;
    border-radius: 1%;
    -webkit-box-shadow: 17px -8px 25px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 17px -8px 25px -6px rgba(0,0,0,0.55);
    box-shadow: 17px -8px 25px -6px rgba(0,0,0,0.55);
}
.monthtitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45vw;

}
        .fa-arrow-right{
            height: 10%;
            width: 10%;
            margin-left: 5px;
        }

        .fa-arrow-left{
            height: 10%;
            width: 10%;
            margin-right: 5px;
        }

        .fa-arrow-right:hover, .fa-arrow-left:hover{
            color: gray;
        }


        #month{
            width: 80%;
        }

        .monthtitle ul{
            align-self: flex-end;
            width: 60%;
            height: 75%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
        .monthtitle h2{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 25%;
            justify-content: center;
        }
            .monthtitle #month{
                display: flex;
                width: 80%;
                justify-content: center;;
            }
            .monthtitle li{
                width: 33%;
            }

                #dateicon{
                    color: rgba(0, 0, 0, 0%);
                    border-bottom: 1px solid red;
                    width: 10px;
                    margin-right: 10px;
                }
                .monthtitle i{
                    margin-right: 10px;
                }
                .monthtitle .fa-calendarweek{
                    color: blue;
                }
        #year{
            width: 15%;
            align-self: center;
            font-weight: bold;
            color: rgb(148, 31, 52);
        }


.weekdatesection{
    display: flex;
    flex-direction: row;
    width: 45vw;
    height: 100%;
    justify-content: space-around;
    border-left: 1px solid gray;

}


.datecolumns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 14.28%;
    height: 100%;

}

.dayoftheweek{
    height: 10%;

}

.individualdates{
    align-items: center;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.dates, .deaddate{
    display: flex;
    font-weight: 10px;
    border-bottom: 1px solid gray;
    width: 250%;
    padding: 80% 0;
}


    .dates:hover{
        display: flex;
        border-bottom: 2px solid green;
        color: green;
        width: 250%;
        padding: 80% 0;
        transition-duration: 0.75s;

    }
            .fa-calender.week{
                background-color: white;
            }

.deaddate{
    opacity: 0%;
}



#numberdate{
    align-self: center;
    font-weight: 2rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}