@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');


.left{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    height: 80vh;
    width: 25%;
    margin-left: 1vh;
    align-items: center;
}


.listcontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 90%;
}
    .listcontainer ul{
        margin-top: 7%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items:center;
        width: 50%;
    }
        .left li{
            margin-bottom: 10px;
            font-size: .6rem;
            align-self: flex-start;
            display: flex;
            justify-content: space-between;
        }

    .firstlistcontainer{
        display: flex;
        justify-content: center;
        background-color: rgb(149, 237, 168);
        border-radius: 3%;
        /* -webkit-box-shadow: 7px -5px 5px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px -5px 5px -4px rgba(0,0,0,0.75);
        box-shadow: 7px -5px 5px -4px rgba(0,0,0,0.75);
        margin-bottom: 10px; */
    }

            .firstlistcontainer h5{
                z-index: 1;
            }

            .listitems{
                margin-top: 5%;
                z-index: 1;
                overflow-y: scroll;
                width: 80%;
                height: 100%;
                text-align: center;
            }

            .completedlistitems{
                text-decoration: line-through;
            }

            .firstForm{
                display: flex;
                position: absolute;
                top: 10%;
                left: 35%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            #timestamp{
                font-weight: 700;
            }
                .checkmark:hover{
                    color: red;
                }

                .fa-trash-alt{
                    color: black;
                    margin-left: 7px;
                }
                    .fa-trash-alt:hover{
                        color: red;
                    }

                .firstForm input{
                    background-color: rgb(149, 237, 168);
                    outline: none;
                    border: none;
                    margin-bottom: 10px;
                    text-align: center;
                }

                .firstForm .secondInput{
                    padding-left: 25%;

                }
                .firstForm button {
                    margin-top: 0;
                    background-color: rgb(49, 127, 196);

                    color: white;
                    border-radius: 5px;

                }
                    .firstForm button:hover {
                        background-color: rgb(149, 237, 168);

                    }


    .secondlistcontainer{
        display: flex;
        justify-content: center;
        background-color: rgb(245, 187, 71);
        border-radius: 3%;
        /* -webkit-box-shadow: 7px -5px 5px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px -5px 5px -4px rgba(0,0,0,0.75);
        box-shadow: 7px -5px 5px -4px rgba(0,0,0,0.75); */
    }
        .secondlistcontainer form{
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgb(245, 187, 71)
        }
            .secondlistcontainer input{
                text-align: center;
                background-color: rgb(245, 187, 71);
                border: none;
                outline: none;
            }
            .secondlistcontainer button{
                color:white;
                text-align: center;
                background-color: rgb(49, 127, 196);
                margin-bottom: 5px;
            }
                .secondlistcontainer button:hover{
                    text-align: center;
                    background-color: rgb(245, 187, 71);

                }